@use "./variables" as *;

.cart-page {
  width: min(1500px, 96%);
  margin: 0 auto;
  padding: 48px 0 72px;
  background: $background;
  color: $text;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  gap: 200px;

  h2 {
    font-size: 42px;
    font-weight: 700;
  }
}

.back-btn,
.btn-remove,
.clear-cart-btn,
.checkout-btn,
.empty-btn {
  height: 50px;
  padding: 0 28px;

  border: 1px solid $black;
  background: $black;
  color: $cream;

  font-size: 16px;
  cursor: pointer;

  transition: $transition;

  &:hover {
    background: $background;
    color: $black;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 28px;

  border: 1px solid $border;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 32px;

  img {
    width: 260px;
    height: 220px;
    object-fit: contain;
  }
}

.cart-item-title {
  font-size: 28px;
  margin-bottom: 16px;
}

.cart-item-quantity,
.cart-item-total {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.btn-quantity {
  width: 48px;
  height: 48px;

  border: 1px solid $black;
  background: $black;
  color: $cream;

  font-size: 24px;
  cursor: pointer;

  transition: $transition;

  &:hover {
    background: $background;
    color: $black;
  }
}

.cart-summary {
  width: 100%;

  border: 1px solid $border;

  padding: 32px;
}

.cart-summary h3 {
  font-size: 30px;
  margin-bottom: 32px;
}

.summary-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;

  p {
    display: flex;
    justify-content: space-between;
    font-size: 22px;

    span {
      font-weight: 700;
    }
  }
}

.summary-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  min-height: 60vh;
}

.empty-title {
  font-size: 42px;
  margin-bottom: 18px;
}

.empty-text {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 36px;
}

.cart-item,
.cart-summary {
    border-radius: 6px;
}

.name-quant-total-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.cart-item-title,
.cart-item-quantity,
.cart-item-total {
  margin: 0;
  text-align: left;
}

@media (max-width: 420px) {
  .cart-page {
    padding-bottom: 0;
  }
  .cart-empty {
    margin-top: -40px;
  }
  .cart-header h2 {
    font-size: 22px;
    margin-left: 25px;
    margin-bottom: 0;
  }
  .cart-header {
    margin-bottom: 0;
    gap: 20px;
    margin-right: 10px;
  }
  .back-btn {
    font-size: 12px;
  }
  .empty-title {
    font-size: 20px;
  }
  .empty-text {
    font-size: 14px;
  }
  .empty-btn {
    font-size: 12px;
  }

  .cart-item {
    gap: 30px;
  }
  .cart-container {
    margin-top: 20px;
  }
  .cart-item-details {
    display: flex;
    flex-direction: column;
    width: 140px;
    flex-shrink: 0;

    margin-left: -20px;
  }
  .cart-item-img {
    height: 80px !important;
    width: 130px !important;
    margin-left: 10px;
    flex-shrink: 0;
  }
  .name-quant-total-box h2,
  .name-quant-total-box p {
    font-size: 14px !important;
  }
  .cart-item-total {
    width: 90px;
  }

  .cart-item-actions {
    margin-bottom: -150px;
    margin-left: -30px;
  }
  .cart-item-actions button {
    font-size: 12px;
  }
  .btn-quantity {
    height: 22px;
    width: 22px;
  }
  .btn-remove {
    font-size: 10px !important;
  }
  .quantity-btns-box {
    display: flex;
    gap: 50px;
  }


  .cart-summary h3 {
    font-size: 22px;
  }
  .summary-details p {
    font-size: 14px;
  }
  .summary-buttons {
    gap: 20px;
    margin-left: -10px;
  }
  .summary-buttons button {
    font-size: 12px;
  }
}