@use "./variables" as *;

.header {
  width: 100vw;
  height: 76px;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $background;
  border-bottom: 1px solid $border;

  position: sticky;
  top: 0;
  z-index: 100000;
  
  margin-left: calc(-1 * (100vw - 100%) / 2);
  box-sizing: border-box;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
  transition: $transition;

  &:hover {
    opacity: .75;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  position: relative;

  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;

  transition: $transition;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0;
    height: 2px;

    background-color: $text;

    transition: $transition;
  }

  &:hover::after {
    width: 100%;
  }
}

.main-buttons-box {
  display: flex;
  align-items: center;
  gap: 18px;
}



.cart-btn,
.search-open-btn,
.account-btn {
  position: relative;

  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: $text;

  transition: $transition;

  &:hover {
    background-color: $surface;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.cart-count {
  position: absolute;

  top: -2px;
  right: -2px;

  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: $black;
  color: $cream;

  font-size: .7rem;
  font-weight: 600;
}

.active-account::after {
  content: "";

  position: absolute;

  top: 7px;
  right: 8px;

  width: 8px;
  height: 8px;

  border-radius: 50%;

  background: #2ecc71;
}

.search-box {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.input-box-wrapper {
  position: fixed;
  top: 76px;
  left: 0;

  width: 100vw;
  overflow: hidden;

  z-index: 10000;

  transition: height 0.3s ease, opacity 0.3s ease;
  will-change: height, opacity;

  background: $cream; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2); 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.input-box-wrapper.opened {
    height: 40px;
    opacity: 1;
}

.input-box-wrapper.closed {
    height: 0;
    opacity: 0;
}

.dropdown-input-box {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 40px; 
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);  
 
    width: 100%;
}

.dropdown-input-box label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px;
    position: absolute;
    pointer-events: none; 
    z-index: 1;
    transition: $transition;
}

.search-input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    vertical-align: bottom;
    appearance: none; 
    z-index: 1001;
}

.search-input,
.dropdown-input-box label {
    margin-left: 35px;
}

.hidden-label {
    opacity: 0;
}

.dropdown-main {
  position: fixed;
  top: 116px;
  left: 0;

  background: $cream;

  padding-bottom: 30px;

  width: 100vw;
  overflow: hidden;

  z-index: 1000;

  transition: height 0.45s ease, opacity 0.45s ease;
  will-change: height, opacity;
}

.main-close {
  opacity: 0;
  pointer-events: auto; 
  transform: translateY(-100%);
}

.main-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.search-top {
  display: flex;
  justify-content: space-between;

  height: 83px;
}

.top-text {
  margin-left: 35px;
  display: flex;
  align-items: center;
  height: 100%;
}

.arrows-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 35px;
  height: 100%;
}

.search-result {
  width: 100%;
  overflow: hidden;
}

.nav-products-container {
  display: flex;
  overflow: visible;
  gap: 30px;
  margin-left: 15px;
  padding-bottom: 30px;

  transition: transform 0.35s ease;
  will-change: transform;
}

.nav-product-box {
  min-width: calc((100% - 60px) / 3);
  max-width: calc((100% - 60px) / 3);
  flex-shrink: 0;
}

.nav-product-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: $transition;
}

.nav-image-wrapper {
  border-radius: $radius-md;
  overflow: hidden;

  width: 100%;
  height: 200px;

  &:hover .nav-product-image {
    transform: scale(1.05);
  }
}

.product-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.bottom-right-box {
  height: 56px;
}
.product-btn {
  margin-top: 10px !important;
}

.burger-button-box {
  display: none;
  align-items: center;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 42px;
  height: 42px;

  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: $black;
  border-radius: 2px;
  transition: 0.3s ease;
}

.burger.open .burger-span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.open .burger-span:nth-child(2) {
  opacity: 0;
}

.burger.open .burger-span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation.opened {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 76px;
  width: 100%;
  margin-left: -30px;
  padding: 20px 0;

  background-color: $cream;
}

.main-buttons-box.opened {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 250px;
  width: 100%;
  margin-left: -30px;
  padding-bottom: 30px;

  background-color: $cream;
}

@media (max-width: 720px) {
  .navigation,
  .main-buttons-box {
    display: none;
  }

  .burger-button-box {
    display: flex;
  }

  .input-box-wrapper {
    top: 320px;
    left: 0;
    width: 100vw;
    z-index: 100000;
  }

  .dropdown-input-box {
    height: 50px;
    padding: 0 20px;
    border-top: 1px solid $border;
  }

  .search-input,
  .dropdown-input-box label {
    margin-left: 0;
    transform: translateY(-5px);
  }

  .search-input {
    height: 40px;
  }

  .dropdown-main {
    top: 126px;
    left: 0;
    width: 100vw;
  }

  .search-top {
    height: 60px;
  }

  .top-text {
    margin-left: 20px;
  }

  .arrows-buttons {
    margin-right: 20px;
  }

  .nav-products-container {
    gap: 15px;
    margin-left: 15px;
  }

  .nav-product-box {
    min-width: calc(100vw - 30px);
    max-width: calc(100vw - 30px);
  }

    .dropdown-main {
    top: 360px;
    z-index: 99999;
  }

  .nav-image-wrapper {
    height: 150px;
  }

  .nav-product-box {
    min-width: calc(100vw - 30px);
    max-width: calc(100vw - 30px);
  }

  .search-result {
    width: 100%;
    overflow: hidden;
  }

  .nav-products-container {
    width: 100%;
    overflow: visible;
  }

  .nav-product-name,
  .nav-product-price {
    font-size: 0.9rem;
  }

  .product-btn {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .top-title {
    font-size: 0.9rem;
  }

  .arrow {
    width: 32px;
    height: 32px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .arrows-buttons {
    gap: 5px;
    margin-right: 15px;
  }

  .nav-product-name,
  .nav-product-price {
    font-size: 0.9rem;
  }

  .product-btn {
    font-size: 0.85rem;
    padding: 8px 12px;
  }
}

@media (max-width: 320px) {
  .top-title {
    font-size: 0.8rem;
  }

  .arrow {
    width: 27px;
    height: 27px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .arrows-buttons {
    gap: 3px;
    margin-right: 10px;
  }

  .nav-product-name,
  .nav-product-price {
    font-size: 0.8rem;
  }

  .product-btn {
    font-size: 0.75rem;
    padding: 6px 8px;
  }
}